# used to prevent sync on changes
# ignoring .dockerignore or Dockerfile prevents rebuild

dist
node_modules

.gitignore
.prettierignore
components.json
eslint.config.js
openapi_spec.json
openapi-ts.config.json
README.md
