name: ${PROJECT_NAME?Not set}

services:
    postgres:
        image: postgres:18
        restart: always
        volumes:
            - pg_data:/var/lib/postgresql/data
        ports:
            - '${POSTGRES_PORT?Not set}:5432'
        environment:
            - PGDATA=/var/lib/postgresql/data
            - POSTGRES_DB=${POSTGRES_DB?Not set}
            - POSTGRES_USER=${POSTGRES_USER?Not set}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Not set}

volumes:
    pg_data:
