name: ${PROJECT?}-${ENV?}

services:
    database:
        image: postgres:18
        container_name: ${PROJECT?}-${ENV?}-database
        restart: always

        environment:
            - PGDATA=/var/lib/postgresql/data/pgdata
            - POSTGRES_DB=${POSTGRES_DB?}
            - POSTGRES_USER=${POSTGRES_USER?}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?}
        volumes:
            - pg-data:/var/lib/postgresql/data/pgdata

        healthcheck:
            # pg_isready does not check user or db
            test: "psql -U ${POSTGRES_USER?} -d ${POSTGRES_DB?} -c 'SELECT 1' || exit 1"
            start_period: 5s
            timeout: 5s
            retries: 3
            interval: 1m

    migrations:
        image: ${DOCKER_REGISTRY?}/${PROJECT?}-${ENV?}-server:${TAG?}
        container_name: ${PROJECT?}-${ENV?}-migrations
        restart: no

        depends_on:
            database:
                condition: service_healthy
                restart: true

        environment:
            - ENV=${ENV?}
            - LOG_LEVEL=${LOG_LEVEL?}
            - CLIENT_URL=${CLIENT_URL?}

            # use internal host & port
            - POSTGRES_HOST=database
            - POSTGRES_PORT=5432
            - POSTGRES_DB=${POSTGRES_DB?}
            - POSTGRES_USER=${POSTGRES_USER?}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?}

            - ADMIN_USERNAME=${ADMIN_USERNAME?}
            - ADMIN_EMAIL=${ADMIN_EMAIL?}
            - ADMIN_FIRST_NAME=${ADMIN_FIRST_NAME?}
            - ADMIN_LAST_NAME=${ADMIN_LAST_NAME?}
            - ADMIN_PASSWORD=${ADMIN_PASSWORD?}

            - EMAIL_BACKEND=${EMAIL_BACKEND?}
            - SMTP_HOST=${SMTP_HOST?}
            - SMTP_PORT=${SMTP_PORT?}
            - SMTP_USERNAME=${SMTP_USERNAME?}
            - SMTP_PASSWORD=${SMTP_PASSWORD?}
            - SMTP_USE_TLS=${SMTP_USE_TLS?}
            - SMTP_USE_SSL=${SMTP_USE_SSL?}
            - EMAIL_FROM=${EMAIL_FROM?}

            - JWT_SECRET_KEY=${JWT_SECRET_KEY?}
            - ALGORITHM=${ALGORITHM?}
            - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES?}

        command: alembic upgrade head

    server:
        image: ${DOCKER_REGISTRY?}/${PROJECT?}-${ENV?}-server:${TAG?}
        container_name: ${PROJECT?}-${ENV?}-server
        restart: always
        networks:
            - traefik-public
            - default

        depends_on:
            database:
                condition: service_healthy
                restart: true
            migrations:
                condition: service_completed_successfully

        environment:
            - ENV=${ENV?}
            - LOG_LEVEL=${LOG_LEVEL?}
            - CLIENT_URL=${CLIENT_URL?}

            # use internal host & port
            - POSTGRES_HOST=database
            - POSTGRES_PORT=5432
            - POSTGRES_DB=${POSTGRES_DB?}
            - POSTGRES_USER=${POSTGRES_USER?}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?}

            - ADMIN_USERNAME=${ADMIN_USERNAME?}
            - ADMIN_EMAIL=${ADMIN_EMAIL?}
            - ADMIN_FIRST_NAME=${ADMIN_FIRST_NAME?}
            - ADMIN_LAST_NAME=${ADMIN_LAST_NAME?}
            - ADMIN_PASSWORD=${ADMIN_PASSWORD?}

            - EMAIL_BACKEND=${EMAIL_BACKEND?}
            - SMTP_HOST=${SMTP_HOST?}
            - SMTP_PORT=${SMTP_PORT?}
            - SMTP_USERNAME=${SMTP_USERNAME?}
            - SMTP_PASSWORD=${SMTP_PASSWORD?}
            - SMTP_USE_TLS=${SMTP_USE_TLS?}
            - SMTP_USE_SSL=${SMTP_USE_SSL?}
            - EMAIL_FROM=${EMAIL_FROM?}

            - JWT_SECRET_KEY=${JWT_SECRET_KEY?}
            - ALGORITHM=${ALGORITHM?}
            - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES?}

        healthcheck:
            test:
                [
                    'CMD',
                    'python',
                    '-c',
                    "import urllib.request; urllib.request.urlopen('http://localhost:8000/api/health')",
                ]
            start_period: 5s
            timeout: 5s
            retries: 3
            interval: 1m

        labels:
            - traefik.enable=true
            - traefik.http.routers.${PROJECT?}-${ENV?}-server.rule=Host(`api.${DOMAIN?}`)
            - traefik.http.routers.${PROJECT?}-${ENV?}-server.entrypoints=web

    client:
        image: ${DOCKER_REGISTRY?}/${PROJECT?}-${ENV?}-client:${TAG?}
        container_name: ${PROJECT?}-${ENV?}-client
        restart: always
        networks:
            - traefik-public
            - default

        environment:
            - VITE_API_URL=http://api.${DOMAIN?}

        labels:
            - traefik.enable=true
            - traefik.http.routers.${PROJECT?}-${ENV?}-client.rule=Host(`${DOMAIN?}`)
            - traefik.http.routers.${PROJECT?}-${ENV?}-client.entrypoints=web

volumes:
    pg-data:

networks:
    traefik-public:
        external: true
