name: ${PROJECT?}-${ENV?}

services:
    smtp-proxy:
        image: alpine/socat
        container_name: ${PROJECT?}-${ENV?}-smtp-proxy
        restart: unless-stopped
        network_mode: host

        command: TCP-LISTEN:1026,fork,reuseaddr TCP:127.0.0.1:1025

    database:
        image: postgres:18
        container_name: ${PROJECT?}-${ENV?}-database
        restart: unless-stopped

        volumes:
            - pg-data:/var/lib/postgresql
        environment:
            - PGDATA=/var/lib/postgresql
            - POSTGRES_DB=${DB__NAME?}
            - POSTGRES_USER=${DB__USER?}
            - POSTGRES_PASSWORD=${DB__PASSWORD?}

        healthcheck:
            # pg_isready does not check user or db
            test: "psql -U ${DB__USER?} -d ${DB__NAME?} -c 'SELECT 1' || exit 1"
            start_period: 5s
            timeout: 5s
            retries: 3
            interval: 1m

    pg-admin:
        image: dpage/pgadmin4:9
        container_name: ${PROJECT?}-${ENV?}-pg-admin
        restart: unless-stopped
        networks:
            - traefik-public
            - default

        volumes:
            - pg-admin-data:/var/lib/pgadmin
            - ../env/servers.json:/pgadmin4/servers.json:ro
            - ../env/pgpass:/pgpass:ro
        environment:
            - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL?}
            - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD?}
            - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
            - PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT=False
            - PGADMIN_CONFIG_WTF_CSRF_ENABLED=False

        entrypoint: |
            /bin/sh -c "
                USER_DIR=$(printf "%s" "$PGADMIN_EMAIL" | tr "@" "_");
                mkdir -p /var/lib/pgadmin/storage/$$USER_DIR;
                cp -f /pgpass /var/lib/pgadmin/storage/$$USER_DIR;
                /entrypoint.sh
            "

        labels:
            - traefik.enable=true
            - traefik.prod=${PROD?}
            - traefik.http.routers.${PROJECT?}-${ENV?}-pg-admin.rule=Host(`db-${DOMAIN?}`)
            - traefik.http.routers.${PROJECT?}-${ENV?}-pg-admin.entrypoints=websecure

    migrations:
        image: ${DOCKER_REGISTRY?}/${PROJECT?}-${ENV?}-server:${TAG?}
        container_name: ${PROJECT?}-${ENV?}-migrations
        restart: no

        depends_on:
            database:
                condition: service_healthy
                restart: true

        environment:
            - ENV=${ENV?}
            - LOG_LEVEL=${LOG_LEVEL?}
            - CLIENT_URL=${CLIENT_URL?}

            - ADMIN__USERNAME=${ADMIN__USERNAME?}
            - ADMIN__EMAIL=${ADMIN__EMAIL?}
            - ADMIN__FIRST_NAME=${ADMIN__FIRST_NAME?}
            - ADMIN__LAST_NAME=${ADMIN__LAST_NAME?}
            - ADMIN__PASSWORD=${ADMIN__PASSWORD?}

            - JWT__SECRET_KEY=${JWT__SECRET_KEY?}
            - JWT__ALGORITHM=${JWT__ALGORITHM?}
            - JWT__ACCESS_TOKEN_EXPIRE_MINUTES=${JWT__ACCESS_TOKEN_EXPIRE_MINUTES?}
            - JWT__REFRESH_TOKEN_EXPIRE_DAYS=${JWT__REFRESH_TOKEN_EXPIRE_DAYS?}

            # internal host & port
            - DB__HOST=database
            - DB__PORT=5432
            - DB__NAME=${DB__NAME?}
            - DB__USER=${DB__USER?}
            - DB__PASSWORD=${DB__PASSWORD?}

            - EMAIL__BACKEND=${EMAIL__BACKEND?}
            - EMAIL__EMAIL_FROM=${EMAIL__EMAIL_FROM?}
            - EMAIL__SMTP_HOST=host.docker.internal
            - EMAIL__SMTP_PORT=1026
            - EMAIL__SMTP_USERNAME=${EMAIL__SMTP_USERNAME?}
            - EMAIL__SMTP_PASSWORD=${EMAIL__SMTP_PASSWORD?}

            - GH__BACKEND=${GH__BACKEND?}
            - GH__REPO_OWNER=${GH__REPO_OWNER?}
            - GH__TOKEN=${GH__TOKEN?}
            - GH__ISSUE_ASSIGNEE=${GH__ISSUE_ASSIGNEE?}

        command: alembic upgrade head

    server:
        image: ${DOCKER_REGISTRY?}/${PROJECT?}-${ENV?}-server:${TAG?}
        container_name: ${PROJECT?}-${ENV?}-server
        restart: unless-stopped
        networks:
            - traefik-public
            - default
        extra_hosts:
            - host.docker.internal:host-gateway

        depends_on:
            smtp-proxy:
                condition: service_started
            database:
                condition: service_healthy
                restart: true
            migrations:
                condition: service_completed_successfully

        volumes:
            - server-data:/src/data
            - server-logs:/src/logs
        environment:
            - ENV=${ENV?}
            - LOG_LEVEL=${LOG_LEVEL?}
            - CLIENT_URL=${CLIENT_URL?}

            - ADMIN__USERNAME=${ADMIN__USERNAME?}
            - ADMIN__EMAIL=${ADMIN__EMAIL?}
            - ADMIN__FIRST_NAME=${ADMIN__FIRST_NAME?}
            - ADMIN__LAST_NAME=${ADMIN__LAST_NAME?}
            - ADMIN__PASSWORD=${ADMIN__PASSWORD?}

            - JWT__SECRET_KEY=${JWT__SECRET_KEY?}
            - JWT__ALGORITHM=${JWT__ALGORITHM?}
            - JWT__ACCESS_TOKEN_EXPIRE_MINUTES=${JWT__ACCESS_TOKEN_EXPIRE_MINUTES?}
            - JWT__REFRESH_TOKEN_EXPIRE_DAYS=${JWT__REFRESH_TOKEN_EXPIRE_DAYS?}

            # internal host & port
            - DB__HOST=database
            - DB__PORT=5432
            - DB__NAME=${DB__NAME?}
            - DB__USER=${DB__USER?}
            - DB__PASSWORD=${DB__PASSWORD?}

            - EMAIL__BACKEND=${EMAIL__BACKEND?}
            - EMAIL__EMAIL_FROM=${EMAIL__EMAIL_FROM?}
            - EMAIL__SMTP_HOST=host.docker.internal
            - EMAIL__SMTP_PORT=1026
            - EMAIL__SMTP_USERNAME=${EMAIL__SMTP_USERNAME?}
            - EMAIL__SMTP_PASSWORD=${EMAIL__SMTP_PASSWORD?}

            - GH__BACKEND=${GH__BACKEND?}
            - GH__REPO_OWNER=${GH__REPO_OWNER?}
            - GH__TOKEN=${GH__TOKEN?}
            - GH__ISSUE_ASSIGNEE=${GH__ISSUE_ASSIGNEE?}

        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'python -c "import urllib.request; urllib.request.urlopen(''http://localhost:8000/api/health'')"',
                ]
            start_period: 5s
            timeout: 5s
            retries: 3
            interval: 1m

        labels:
            - traefik.enable=true
            - traefik.prod=${PROD?}
            - traefik.http.routers.${PROJECT?}-${ENV?}-server.rule=Host(`api-${DOMAIN?}`)
            - traefik.http.routers.${PROJECT?}-${ENV?}-server.entrypoints=websecure

    client:
        image: ${DOCKER_REGISTRY?}/${PROJECT?}-${ENV?}-client:${TAG?}
        container_name: ${PROJECT?}-${ENV?}-client
        restart: unless-stopped
        networks:
            - traefik-public
            - default

        depends_on:
            server:
                condition: service_healthy

        labels:
            - traefik.enable=true
            - traefik.prod=${PROD?}
            - traefik.http.routers.${PROJECT?}-${ENV?}-client.rule=Host(`${DOMAIN?}`)
            - traefik.http.routers.${PROJECT?}-${ENV?}-client.entrypoints=websecure

volumes:
    pg-data:
    pg-admin-data:
    server-data:
    server-logs:

networks:
    traefik-public:
        external: true
        name: ${TRAEFIK_NETWORK:-traefik-public}
