name: Build Client Project

on:
    workflow_dispatch:
    pull_request_target:
        branches:
            - stage
            - main

permissions:
    contents: none

jobs:
    build-client:
        runs-on: self-hosted
        steps:
            - name: unlock keychain
              run: security unlock-keychain -p ${{ secrets.KEYCHAIN_PASSWORD }} login.keychain

            - name: checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.ref_name }}

            - name: build using docker
              working-directory: client
              run: |
                  docker build \
                      --target build \
                      --build-arg VITE_ENV=ci \
                      --build-arg VITE_IMAGE_TAG=ci-tag \
                      --build-arg VITE_API_URL=https://api.example.com \
                      .
