name: Deploy Application

on:
    workflow_dispatch:
    push:
        branches:
            - stage
            - main
        paths:
            - .github/workflows/deploy*.yml
            - client/public/**
            - client/src/**
            - client/Dockerfile
            - client/index.html
            - client/nginx.conf
            - client/package*.json
            - client/tsconfig*.json
            - client/vite.config.ts
            - config/**
            - server/app/**
            - server/alembic.ini
            - server/Dockerfile
            - server/pyproject.toml
            - server/uv.lock

concurrency:
    group: deploy-${{ github.ref_name }}
    cancel-in-progress: true

permissions:
    contents: none

jobs:
    setup:
        runs-on: self-hosted
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        outputs:
            runner: ${{ steps.set_runner.outputs.runner }}
            tag: ${{ steps.set_tag.outputs.tag }}
        steps:
            - name: set runner
              id: set_runner
              run: echo "runner=mbp-13" >> $GITHUB_OUTPUT

            - name: set tag
              id: set_tag
              run: |
                  VERSION=${{ github.run_number }}-${{ github.run_attempt }}-${{ github.run_id }}
                  echo "tag=$(date +%Y-%m-%d).$VERSION" >> $GITHUB_OUTPUT

    deploy-client:
        needs: setup
        uses: ./.github/workflows/deploy-client.yml
        with:
            runner: ${{ needs.setup.outputs.runner }}
            tag: ${{ needs.setup.outputs.tag }}
        secrets: inherit

    deploy-server:
        needs: setup
        uses: ./.github/workflows/deploy-server.yml
        with:
            runner: ${{ needs.setup.outputs.runner }}
            tag: ${{ needs.setup.outputs.tag }}
        secrets: inherit

    deploy-infra:
        needs: [setup, deploy-client, deploy-server]
        uses: ./.github/workflows/deploy-infra.yml
        with:
            runner: ${{ needs.setup.outputs.runner }}
            tag: ${{ needs.setup.outputs.tag }}
        secrets: inherit
