name: Deploy Infra

on:
    workflow_call:
        inputs:
            runner:
                required: true
                type: string
            tag:
                required: true
                type: string

permissions:
    contents: none

jobs:
    deploy:
        runs-on: ${{ inputs.runner }}
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: create .env file
              working-directory: config/env
              run: |
                  > .env
                  echo "PROJECT=${{ vars.PROJECT }}" >> .env
                  echo "PROD=${{ github.ref_name == 'main' && 'true' || 'false' }}" >> .env
                  echo "DOMAIN=${{ secrets.DOMAIN }}" >> .env

                  echo "DOCKER_REGISTRY=${{ secrets.DOCKER_REGISTRY }}" >> .env
                  echo "TAG=${{ inputs.tag }}" >> .env

                  echo "PGADMIN_EMAIL=${{ secrets.PGADMIN_EMAIL }}" >> .env
                  echo "PGADMIN_PASSWORD=${{ secrets.PGADMIN_PASSWORD }}" >> .env

                  echo "TRAEFIK_NETWORK=${{ github.ref_name == 'main' && 'traefik-public' || 'traefik-stage-public' }}" >> .env

                  echo "ENV=${{ vars.ENV }}" >> .env
                  echo "LOG_LEVEL=${{ vars.LOG_LEVEL }}" >> .env
                  echo "CLIENT_URL=${{ secrets.CLIENT_URL }}" >> .env

                  echo "ADMIN__USERNAME=${{ secrets.ADMIN__USERNAME }}" >> .env
                  echo "ADMIN__EMAIL=${{ secrets.ADMIN__EMAIL }}" >> .env
                  echo "ADMIN__FIRST_NAME=${{ secrets.ADMIN__FIRST_NAME }}" >> .env
                  echo "ADMIN__LAST_NAME=${{ secrets.ADMIN__LAST_NAME }}" >> .env
                  echo "ADMIN__PASSWORD=${{ secrets.ADMIN__PASSWORD }}" >> .env

                  echo "JWT__SECRET_KEY=${{ secrets.JWT__SECRET_KEY }}" >> .env
                  echo "JWT__ALGORITHM=${{ secrets.JWT__ALGORITHM }}" >> .env
                  echo "JWT__ACCESS_TOKEN_EXPIRE_MINUTES=${{ secrets.JWT__ACCESS_TOKEN_EXPIRE_MINUTES }}" >> .env
                  echo "JWT__REFRESH_TOKEN_EXPIRE_DAYS=${{ secrets.JWT__REFRESH_TOKEN_EXPIRE_DAYS }}" >> .env

                  # exclude host & port
                  echo "DB__NAME=${{ secrets.DB__NAME }}" >> .env
                  echo "DB__USER=${{ secrets.DB__USER }}" >> .env
                  echo "DB__PASSWORD=${{ secrets.DB__PASSWORD }}" >> .env

                  echo "EMAIL__BACKEND=smtp" >> .env
                  echo "EMAIL__EMAIL_FROM=${{ secrets.EMAIL__EMAIL_FROM }}" >> .env
                  # exclude host
                  echo "EMAIL__SMTP_USERNAME=${{ secrets.EMAIL__SMTP_USERNAME }}" >> .env
                  echo "EMAIL__SMTP_PASSWORD=${{ secrets.EMAIL__SMTP_PASSWORD }}" >> .env

                  echo "GH__BACKEND=api" >> .env
                  echo "GH__REPO_OWNER=${{ secrets.GH__REPO_OWNER }}" >> .env
                  echo "GH__TOKEN=${{ secrets.GH__TOKEN }}" >> .env

            - name: create pg admin config
              working-directory: scripts
              run: ./generate_pg_admin_config.sh

            - name: start containers
              working-directory: config/infra
              run: docker-compose --env-file ../env/.env -f docker-compose.yml up -d
