name: Deploy Client

on:
    workflow_call:
        inputs:
            runner:
                required: false
                type: string
            tag:
                required: true
                type: string

permissions:
    contents: none

jobs:
    deploy:
        runs-on: ${{ inputs.runner }}
        environment: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
        steps:
            - name: unlock keychain
              run: security unlock-keychain -p ${{ secrets.KEYCHAIN_PASSWORD }} login.keychain

            - name: checkout
              uses: actions/checkout@v6

            - name: log in to docker registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ secrets.DOCKER_REGISTRY }}
                  username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
                  password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
                  logout: false

            - name: docker context
              run: docker context ls

            - name: build & push docker image
              working-directory: client
              run: |
                  IMAGE=${{secrets.DOCKER_REGISTRY}}/${{ vars.PROJECT }}-${{ vars.ENV}}-client:${{ inputs.tag }}
                  docker build \
                    --build-arg VITE_ENV=${{ vars.ENV }} \
                    --build-arg VITE_IMAGE_TAG=${{ inputs.tag }} \
                    --build-arg VITE_API_URL=${{ secrets.VITE_API_URL }} \
                    -t $IMAGE .
                  docker push $IMAGE
