name: Generate API Client on PR Merge

on:
    pull_request:
        branches:
            - stage
        types:
            - closed

permissions:
    contents: write

jobs:
    generate-api:
        if: github.event.pull_request.merged == true
        runs-on: self-hosted
        steps:
            - name: checkout
              uses: actions/checkout@v6
              with:
                  ref: ${{ github.event.pull_request.base.ref }}

            - name: setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
                  check-latest: true

            - name: update npm
              run: npm i -g npm@latest

            - name: install deps - client
              working-directory: client
              run: |
                  npm config ls
                  npm ci --cache .npm

            - name: install deps - server
              working-directory: server
              run: uv sync

            - name: generate api client
              working-directory: scripts
              run: ./generate_api.sh -f

            - name: build client using docker
              working-directory: client
              run: |
                  docker build \
                      --target build \
                      --build-arg VITE_ENV=ci \
                      --build-arg VITE_IMAGE_TAG=ci-tag \
                      --build-arg VITE_API_URL=https://api.example.com \
                      .

            - name: commit & push
              run: |
                  if [[ -n "$(git status --porcelain)" ]]; then
                    git config user.name "github-actions[bot]"
                    git config user.email "github-actions[bot]@users.noreply.github.com"

                    git add .
                    git status
                    git commit -m "chore: update generated API client after PR merge"
                    git status
                    git push
                  else
                    echo "No changes to commit"
                  fi

            - name: remove cache folder
              if: always()
              working-directory: client
              run: rm -rf .npm
